
/*
.bgalt1{
background-color:#eee;
min-height:400px;
}*/

body{
    /*background-image:url("/images/sativa.png");*/
    background-color:#92D9C7;
}


.bgalt2{
background-color:#333;
min-height:250px;
color:#fff;
text-align:center;
}

.padding{
padding-top:10px;
padding-bottom:20px;
}


#slider{
    background-color:#92D9C7;
    min-height:200px;
    position:relative;
}

#innerSlider{
    position:relative;
}


/*h1{
    color:#AD162B;
    text-align:center;
    font-family:Verdana, Geneva, sans-serif;
    font-size:60px;
    font-weight:bold;
}*/

h2{
    color:#AD162B;
    font-family:Verdana, Geneva, sans-serif;
    text-align:center;
}

#formBox{
    color:#AD162B;
    position:relative;
}

#com, #sp, #his, #ran{
    font-family:"Impact";
    text-shadow:#253e45 -1px 1px 0;
}

body {
		  font: 16px/1.8 sans-serif;
		}
		.container {
			width: 84%;
			margin:0 auto;
			max-width:1140px;
		}
		header {
			width: 100%;
			margin:0px auto;
		}
		h1 {
			text-align: center;
			color:#fff;
			font: 95px/1 "Impact";
			text-transform: uppercase;
			display: block;
			text-shadow:#253e45 -1px 1px 0,
			#253e45 -2px 2px 0,
			#d45848 -3px 3px 0,
			#d45848 -4px 4px 0;
			margin: 5% auto 5%;
		}
